<li class="nav-dropdown-container language">
  <a class="nav-link">lang:</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="http://localhost:4000/<%- page.path %>" class="nav-link">En</a></li>
    <li><a href="http://localhost:4001/<%- page.path %>" class="nav-link">Ru</a></li>
  </ul>
</li>
