<li class="nav-dropdown-container language">
  <a class="nav-link">more</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="/volunteers/" class="nav-link">volunteers</a></li>
    <li><a href="/license/" class="nav-link">license</a></li>
    <li><a href="/contacts/" class="nav-link">contacts</a></li>
    <li><a href="/support/" class="nav-link">donate</a></li>
  </ul>
</li>
